/* General styles */
.color-1 {
  color: #30824b;
}

.color-2 {
  color: #57a16f;
}

/* ----------- STYLES TO NAVIGATION BAR ----------- */
.nav__main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Styles to Pages links */
.nav__main-desktop {
  display: flex;
  list-style-type: none;
}

@media (max-width: 768px) {
  .nav__main-desktop--container {
    display: none;
  }
}

.nav__main-desktop li {
  padding: 0 10px;
}

.nav__main-desktop a {
  font-family: "Headland One", serif;
  font-display: swap;
  color: #1f1f1f;
  text-decoration: none;
}

.nav__main-desktop a {
  color: rgba(0, 0, 0, 0.886);
  display: inline-block;
  position: relative;
}

.nav__main-desktop a::after {
  background-color: rgba(0, 0, 0, 0.886);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom middle;
  transition: transform 0.3s ease-out;
  width: 100%;
}

.nav__main-desktop a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}

@media (max-width: 1000px) {
  .nav__main-desktop a {
    font-size: 0.7em;
  }
}

/* Styles to Mobile Pages Nav */
.nav__open-btn {
  background-color: transparent;
  border: none;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .nav__open-btn {
    display: none;
  }
}

.nav__open-btn {
  cursor: pointer;
}

.nav__main-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav__main-mobile {
    display: block;
  }
}

/*Styling logo*/
.logo--container {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1000px) {
  .logo--container {
    top: 65px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 50px;
  padding-right: 5px;
}

.logo a {
  font-size: 2rem;
  font-family: "Economica", sans-serif;
  font-display: swap;
  letter-spacing: 2.5px;
  text-decoration: none;
}

/* Styles to "User Links" - Cart and Sign in Buttons */
.nav__main-user--links {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 40px;
}

@media (max-width: 1000px) {
  .logo img {
    height: 40px;
    width: auto;
  }
  .logo a {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .nav__main-user--links {
    padding-right: 0px;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 10px;
  border: none;
  cursor: pointer;
  padding-right: 15px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: rgba(128, 128, 128, 0.183);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  top: 15px;
  right: 50px;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(180, 179, 179, 0.255);
}

@media (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

/* Styles to Mobile Nav Slider */
.nav__main-mobile--container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0px;
  overflow: hidden;
  background-color: #fff;
  z-index: 1;
  transition: 0.5s ease-out;
  opacity: 0;
}

.open {
  opacity: 1;
  width: 100vw;
}

.nav__main-mobile--links {
  list-style-type: none;
}

.nav__main-mobile--links li {
  padding: 30px 0;
  font-size: 1.5rem;
  font-family: "Headland One", serif;
  font-display: swap;
}

.nav__main-mobile--close-btn-container {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-right: 10px;
}

.nav__main-mobile--close-btn {
  background-color: transparent;
  border: none;
  color: rgba(79, 79, 79, 0.856);
}

.nav__main-mobile--close-btn:hover {
  cursor: pointer;
}

.nav__main-mobile--close-btn span {
  font-size: 2rem;
}

.nav__main-mobile--links p,
.nav__main-mobile--links a {
  color: rgba(0, 0, 0, 0.886);
  display: inline;
  position: relative;
}

.nav__main-mobile--links p::after,
.nav__main-mobile--links a::after {
  background-color: rgba(0, 0, 0, 0.886);
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom middle;
  transition: transform 0.3s ease-out;
  width: 100%;
}

.nav__main-mobile--links p:hover::after,
.nav__main-mobile--links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}

.nav__main-mobile--links p:hover,
.nav__main-mobile--links a:hover {
  cursor: pointer;
}

.nav__main-mobile--links p,
.nav__main-mobile--links a {
  text-decoration: none;
}

.nav__accoutn-btn {
  font-size: 1.1em;
  letter-spacing: 2px;
  color: #fff;
  padding: 0.75rem 0.625rem;
  background-color: #3e3e3e;
  border-color: #5e5e5e;
  width: 80%;
  margin: 0 10%;
  transition: 0.5s;
}

.nav__accoutn-btn:hover {
  cursor: pointer;
  background-color: #3e3e3ee7;
}

@media (min-width: 768px) {
  .nav__main-mobile--container {
    display: none;
  }
}
