nav {
  height: 40px;
  width: 100vw;
  display: flex;
  z-index: 10;
}

/*Styling logo*/
.logo {
  width: 130px;
  position: absolute;
  left: 7px;
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 130px;
  width: 80%;
  padding-right: 10%;
  padding-top: 7px;
  justify-content: center;
  align-items: center;
  color: black;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 30px;
  font-size: 17px;
  color: black;
}
.nav-links li {
  position: relative;
}
.nav-links li a:hover {
  font-weight: 500;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 1px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: 40px;
    top: 27px;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: absolute;
    padding-left: 0px;
    margin: 10px 0px;
    top: 0;
    background: white;
    height: 120px;
    width: 100%;
    flex-direction: column;
    clip-path: inset(0px 0px 500px 0px);
    -webkit-clip-path: inset(0px 0px 500px 0px);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }
  .nav-links li {
    padding: 5px 0px;
  }
  .nav-links li a {
    font-size: 15px;
  }
  .nav-links.open {
    clip-path: inset(-40px 0px);
    -webkit-clip-path: inset(-40px 0px);
    pointer-events: all;
    z-index: 1;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-8px, 0px);
}
.toggle .line2 {
  transform: rotate(45deg) translate(-3px, 4px);
}
.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -0px);
}
