body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ----------- STYLES TO HOMEPAGE ----------- */
.home-description {
  margin: 20px 0px 0px 40px;
}

.home-company-name {
  margin: 0px 0px 20px 40px;
}

.hero-image {
  margin-top: 0px;
  width: 60%;
  margin-left: 20%;
}

.free-shipping-ad {
  width: 100%;
  background-color: rgba(16, 16, 16, 0.922);
  color: white;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
}
.free-shipping-ad p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ----------- STYLES TO BREADCRUMB ----------- */
/* Style the list */
.breadcrumb-container {
  width: 100%;
}

ul.breadcrumb {
  padding: 2px 16px;
  list-style: none;
  background-color: rgba(238, 238, 238, 0.473);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #9fa0a0;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #9fa0a0;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: black;
}

/* ----------- STYLES TO CATALOG PAGE ----------- */
hr {
  border: 0.02px solid rgba(236, 233, 233, 0.454);
}

.catalog-page-divider {
  margin: 0;
  padding-left: 40px;
}

/* ----------- STYLES TO CATEGORY MENU ----------- */
.category-button-container {
  width: 50%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-button {
  cursor: pointer;
  margin: 20px 0px 20px 0px;
  padding: 5px;
  background-color: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
}

.category-button:hover {
  background-color: rgba(234, 234, 235, 0.244);
  transform: scale(1.05);
}

/* ----------- STYLES TO CATALOG CARDS ----------- */

.product-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 100px;
}

.product-card {
  width: 20%;
  height: 100%;
  margin: 0px 10px 30px 10px;
  box-shadow: 0 0.2px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}

.product-card a {
  text-decoration: none;
}

/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.product-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-card-text {
  padding: 20px;
}

.product-name {
  color: black;
  font-size: 17px;
  margin: 0;
}

.product-description {
  color: rgb(147, 148, 149);
}

.product-price {
  color: black;
  font-size: 14px;
  margin-bottom: 0px;
}

.add-to-cart-button {
  cursor: pointer;
  width: 50%;
  height: 30px;
  color: black;
  background-color: transparent;
  border: none;
  margin: 0 25% 10px 25%;
}

.add-to-cart-button:hover {
  background-color: rgba(234, 234, 235, 0.43);
}

/* ----------- STYLES TO DETAILS PAGE ----------- */
.details-page {
  display: flex;
  flex: wrap;
  justify-content: center;
  padding-bottom: 100px;
}

.detailsImage {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 40px;
}

.details-description {
  width: 50%;
  margin-top: 40px;
  padding-right: 10%;
}

.price-and-button-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details-add-to-cart {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(185, 185, 185);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.details-add-to-cart:hover {
  color: rgb(64, 157, 238);
  border: 1px solid rgb(64, 157, 238);
}

/* ----------- STYLES TO SIGNUP PAGE ----------- */
.login-page,
.signup-page {
  min-height: 100vh;
}

.signup-form-container,
.login-form-container {
  background-color: white;
  padding: 20px;
  width: 50%;
  margin: auto;
}

.signup-form-container h1,
.login-form-container h1 {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 40px;
  margin: 0;
}

label {
  color: grey;
}

.login-welcome {
  color: grey;
  margin-bottom: 40px;
}

.form-input-field {
  margin: 10px 0px 20px 0px;
  height: 30px;
  width: 95%;
  border: 0.1px solid rgba(177, 176, 176, 0.443);
  border-radius: 5px;
}

.form-input-field:hover {
  border: 0.1px solid rgb(64, 157, 238);
}

input:focus {
  outline: none;
  border: 0.1px solid rgb(64, 157, 238);
}

.form-input-field::placeholder {
  color: rgba(116, 114, 114, 0.61);
}

.form-submit-button {
  cursor: pointer;
  height: 50px;
  background-color: #4f7942;
  color: white;
  border: none;
  padding: 5px;
  width: 40%;
  margin-left: 30%;
  margin-top: 20px;
  border-radius: 5px;
}

.form-submit-button:hover {
  background-color: #c1e1c1;
  color: black;
}

/* ----------- STYLES TO ORDER HISTORY PAGE ----------- */
.order-history {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.order-history-user {
  background-image: url("./components/assets/order-history.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 95vh;
}

.order-history-orders {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.order-history h2 {
  text-align: center;
  margin-top: 0;
  width: 100%;
}

.order-history hr {
  width: 100%;
}

.order-cards {
  background-color: rgba(216, 216, 216, 0.147);
  padding: 20px;
  margin: 20px;
  width: 100%;
}

.order-date {
  width: 100%;
  text-align: start;
}

.order-products-container {
  display: flex;
  flex-wrap: wrap;
}

.order-total {
  font-weight: bold;
}

.order-product-card {
  width: 20%;
  height: 100%;
  margin: 0px 10px 10px 10px;
  box-shadow: 0 0.2px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
}

.order-product-card a {
  text-decoration: none;
}

.order-product-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* ----------- STYLES TO SUCCESS PAGE ----------- */
.success-page {
  text-align: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-graphic {
  /* height: 100vh; */
  width: 700px;
  height: 600px;
  background-image: url("./components/assets/success.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.success-text {
  color: rgb(148, 148, 148);
}

.success-page-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.back-to-home-button {
  cursor: pointer;
  background-color: rgb(11, 55, 14);
  border: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px 20px 0px 20px;
}

.back-to-home-button a {
  color: white;
  text-decoration: none;
}

.back-to-home-button:hover {
  background-color: rgba(14, 73, 18, 0.821);
}

.view-orders-button {
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.448);
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.view-orders-button a {
  color: black;
  text-decoration: none;
}

.view-orders-button:hover {
  border: 1px solid rgb(64, 157, 238);
}

.view-orders-button a:hover {
  color: rgb(64, 157, 238);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* applied on any screen smaller than 980px */
@media screen and (max-width: 980px) {
  /* Catalog Page */
  .product-card {
    width: 30%;
  }

  /* Signup Page */
  .signup-form-container,
  .login-form-container {
    width: 60%;
  }
  .login-image,
  .signup-image {
    width: 30%;
  }

  /* Order-History Page */
  .order-product-card {
    width: 40%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* applied on any screen between 768px and 575px */
@media screen and (max-width: 768px) {
  /* Catalog Page */
  .product-card {
    width: 40%;
  }
  .category-button-container {
    width: 70%;
  }
  .hero-image {
    width: 100%;
    margin-left: 0%;
  }

  /* Details Page */
  .details-page {
    display: block;
  }
  .detailsImage {
    width: 70%;
    margin: auto;
  }
  .details-description {
    margin: 30px 10% 0px 10%;
    width: 80%;
    padding: 0px;
  }

  /* Signup Page */
  .signup-form-container,
  .login-form-container {
    width: 70%;
  }
  .login-image,
  .signup-image {
    width: 20%;
  }

  /* Order-History Page */
  .order-history-user {
    width: 100%;
    height: 200px;
  }
  .order-product-card {
    width: 100%;
  }
  .order-history-orders {
    width: 100%;
  }
  .order-history h2 {
    margin-top: 20px;
  }

  /* Success Page */
  .success-graphic {
    width: 500px;
    height: 600px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* applied on any screen smaller than 575px */
@media screen and (max-width: 575px) {
  /* Catalog Page */
  .product-card {
    width: 70%;
  }
  .category-button-container {
    width: 90%;
  }

  /* Signup Page */
  .signup-form-container,
  .login-form-container {
    width: 100%;
    margin-top: 0px;
  }
  .login-image,
  .signup-image {
    width: 0%;
    height: 0px;
  }

  /* Success Page */
  .success-graphic {
    margin-top: 80px;
    width: 400px;
    height: 400px;
  }
}
